<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.pay.dao.PaySerialMapper">
  <resultMap id="BaseResultMap" type="cloud.pay.domain.PaySerial">
    <id column="serial_id" jdbcType="VARCHAR" property="serialId" />
    <result column="serial_type" jdbcType="CHAR" property="serialType" />
    <result column="serial_status" jdbcType="VARCHAR" property="serialStatus" />
    <result column="serial_bank" jdbcType="VARCHAR" property="serialBank" />
    <result column="bank_err_code" jdbcType="VARCHAR" property="bankErrCode" />
    <result column="bank_err_msg" jdbcType="VARCHAR" property="bankErrMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="parent_bill_id" jdbcType="VARCHAR" property="parentBillId" />
    <result column="bill_id" jdbcType="VARCHAR" property="billId" />
  </resultMap>
  <sql id="Base_Column_List">
    serial_id, serial_type, serial_status, serial_bank, bank_err_code, bank_err_msg, 
    create_time, modify_time, order_id, parent_bill_id, bill_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_serial
    where serial_id = #{serialId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pay_serial
    where serial_id = #{serialId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cloud.pay.domain.PaySerial">
    insert into pay_serial (serial_id, serial_type, serial_status, 
      serial_bank, bank_err_code, bank_err_msg, 
      create_time, modify_time, order_id, 
      parent_bill_id, bill_id)
    values (#{serialId,jdbcType=VARCHAR}, #{serialType,jdbcType=CHAR}, #{serialStatus,jdbcType=VARCHAR}, 
      #{serialBank,jdbcType=VARCHAR}, #{bankErrCode,jdbcType=VARCHAR}, #{bankErrMsg,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=VARCHAR}, 
      #{parentBillId,jdbcType=VARCHAR}, #{billId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cloud.pay.domain.PaySerial">
    insert into pay_serial
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serialId != null">
        serial_id,
      </if>
      <if test="serialType != null">
        serial_type,
      </if>
      <if test="serialStatus != null">
        serial_status,
      </if>
      <if test="serialBank != null">
        serial_bank,
      </if>
      <if test="bankErrCode != null">
        bank_err_code,
      </if>
      <if test="bankErrMsg != null">
        bank_err_msg,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="parentBillId != null">
        parent_bill_id,
      </if>
      <if test="billId != null">
        bill_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serialId != null">
        #{serialId,jdbcType=VARCHAR},
      </if>
      <if test="serialType != null">
        #{serialType,jdbcType=CHAR},
      </if>
      <if test="serialStatus != null">
        #{serialStatus,jdbcType=VARCHAR},
      </if>
      <if test="serialBank != null">
        #{serialBank,jdbcType=VARCHAR},
      </if>
      <if test="bankErrCode != null">
        #{bankErrCode,jdbcType=VARCHAR},
      </if>
      <if test="bankErrMsg != null">
        #{bankErrMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="parentBillId != null">
        #{parentBillId,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cloud.pay.domain.PaySerial">
    update pay_serial
    <set>
      <if test="serialType != null">
        serial_type = #{serialType,jdbcType=CHAR},
      </if>
      <if test="serialStatus != null">
        serial_status = #{serialStatus,jdbcType=VARCHAR},
      </if>
      <if test="serialBank != null">
        serial_bank = #{serialBank,jdbcType=VARCHAR},
      </if>
      <if test="bankErrCode != null">
        bank_err_code = #{bankErrCode,jdbcType=VARCHAR},
      </if>
      <if test="bankErrMsg != null">
        bank_err_msg = #{bankErrMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="parentBillId != null">
        parent_bill_id = #{parentBillId,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        bill_id = #{billId,jdbcType=VARCHAR},
      </if>
    </set>
    where serial_id = #{serialId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cloud.pay.domain.PaySerial">
    update pay_serial
    set serial_type = #{serialType,jdbcType=CHAR},
      serial_status = #{serialStatus,jdbcType=VARCHAR},
      serial_bank = #{serialBank,jdbcType=VARCHAR},
      bank_err_code = #{bankErrCode,jdbcType=VARCHAR},
      bank_err_msg = #{bankErrMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      parent_bill_id = #{parentBillId,jdbcType=VARCHAR},
      bill_id = #{billId,jdbcType=VARCHAR}
    where serial_id = #{serialId,jdbcType=VARCHAR}
  </update>
</mapper>